<template>
  <div class="container pb20">
    <div class="footer__helpdesk mb20">
      <a href>
        <i class="fas fa-headset"></i>021 - 8066 7878
      </a>
      <a href>
        <i class="far fa-envelope"></i> support@blanja.com
      </a>
      <a href>
        <i class="far fa-comment-dots"></i>Live Support
      </a>
    </div>
    <div class="footer__copyright pt20">
      <p>Copyright 2019 © MetraPlasa. All Rights Reserved.</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "Footer"
};
</script>

<style>
.footer__helpdesk {
  display: flex;
  justify-content: center;
}

.footer__helpdesk a {
  margin: 0 10px;
  font-size: 13px;
  text-decoration: none;
}

.footer__helpdesk a i {
  margin: 0 3px;
}

.footer__copyright {
  width: 100%;
  border-top: 1px solid #e5e5e5;
  text-align: center;
  font-size: 12px;
}
</style>
