<template>
  <header>
    <div class="container container__top-menu">
      <ul class="top-menu">
        <li class="top-menu__list-index">
          <a class="top-menu__text top-menu__text--bold" href="#">Koin Blanja kamu</a>
          <img class="shopnwin" src="../assets/shopnwin.png" alt="koin">
          <span class="top-menu__text--amount">10</span>
        </li>
        <li>
          <a class="top-menu__text" href>Bantuan</a>
        </li>
        <li>
          <a class="top-menu__text" href>Seller Center</a>
        </li>
        <li>
          <a class="top-menu__text" href>Toko Saya</a>
        </li>
      </ul>
    </div>
    <div class="container__banner">
      <div class="banner-wrapper">
        <a href="#">
          <img class="logo-blanja" src="../assets/logo-blanja.png" alt="Blanja">
        </a>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: "Header"
};
</script>

<style>
.wrapper {
  margin-left: auto;
}

.top-menu {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 3px auto 5px auto;
}

.top-menu__text {
  font-size: 12px;
  margin: 0px 20px 0px 0px;
  color: #333;
  text-decoration: none;
}

.top-menu__text--bold {
  font-weight: 600;
  margin-right: 4px;
}

.top-menu__text--amount {
  margin-left: 4px;
  margin-right: 20px;
  font-size: 0.8em;
  font-weight: 700;
  color: #e3211d;
}

.top-menu__list-index {
  /* display: flex;
  align-items: flex-end; */
  display: inline-block;
  vertical-align: middle;
}

.top-menu__text--bold:hover {
  color: #e3211d;
}

.container {
  margin: 0 auto;
}

.container__top-menu {
  width: 940px;
}

.container__banner {
  background-color: white;
  height: 140px;
  text-align: center;
  width: 100%;
}

.banner-wrapper {
  padding: 50px;
}

.span-img {
  margin: 10px 0px 0px 0px;
}

.shopnwin {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.logo-blanja {
  width: 220px;
  height: 39.17px;
}
@media screen and (max-width: 1024px) {
}
</style>
