<template>
  <div class="pt20 pb20">
    <div class="order-state">
      <div class="order-state__item">
        <p class="item__text">State 1</p>
        <span class="item__dot"></span>
        <span class="item__bar"></span>
      </div>
      <div class="order-state__item">
        <p class="item__text">State 2</p>
        <span class="item__dot"></span>
        <span class="item__bar item__bar--incompleted"></span>
      </div>
      <div class="order-state__item">
        <p class="item__text item__text--incompleted">State 3</p>
        <span class="item__dot item__dot--incompleted"></span>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  name: "OrderState"
};
</script>

<style>
.order-state {
  height: 9vh;
  width: 720px;
  margin: 20px auto;
  position: relative;
}

.order-state__item {
  width: 33.33333%;
  text-align: center;
  margin: 0;
  position: absolute;
}

.order-state__item:nth-child(2) {
  margin: 0 33.33333%;
}

.order-state__item:nth-child(3) {
  margin: 0 66.66666%;
}

.item__dot {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  margin: 10px -10px;
  background: #e2211d;
  position: absolute;
  z-index: 1;
}

.item__bar {
  width: 242px;
  height: 6px;
  background: #e2211d;
  display: block;
  position: absolute;
  margin: 16px 115px;
}

.item__text {
  font-size: 12px;
  font-weight: 4200;
}

.item__text--incompleted {
  color: #d9d9d9;
}

.item__dot--incompleted {
  background: #d9d9d9;
}

.item__bar--incompleted {
  background: #d9d9d9;
}
</style>
