<template>
  <div class="container white-box pymt-list__container">
    <!-- Hard Code payment card -->
    <template v-for="item in listPaymentOptions">
      <payment-card
        v-bind:imgClass="item.bankName"
        v-bind:paymentOptions="item.listOption"
        v-bind:key="item.bankName"
      />
    </template>
    <div></div>
  </div>
</template>

<script>
import PaymentCard from "./PaymentCard.vue";

export default {
  name: "PaymentList",
  components: {
    PaymentCard
  },
  data() {
    return {
      listPaymentOptions: []
    };
  },
  created() {
    var array = [
      "mandiri-bank",
      "bni-bank",
      "bri-bank",
      "btn-bank",
      "bca-bank",
      "finpay-payment",
      "rekber",
      "credit-card",
      "online-debit",
      "kredivo",
      "finpay-minimarket"
    ];
    for (let i = 0; i < array.length; i++) {
      let arrOptions = [
        {
          id: array[i] + 1,
          option: "Transfer Bank",
          tooltip:
            "Transfer langsung ke nomor rekening Bank Mandiri PT.Metraplasa"
        },
        { id: array[i] + 2, option: "Mandiri Debit Online" },
        { id: array[i] + 3, option: "Kartu Kredit" }
      ];

      let tempArr = [];
      let random1to3 = Math.random() * 3;
      for (let j = 0; j < random1to3; j++) {
        tempArr.push(arrOptions[j]);
      }
      const item = {
        bankName: array[i],
        listOption: tempArr
      }
      this.listPaymentOptions.push(item);
    }
  }
};
</script>


<style>
.pymt-list__container {
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
</style>
