<template>
  <div class="container white-box chs-pymt">
    <div class="virtual-account__option dompetBlanja">
      <div class="va-options__head">
        <div class="options__left display-im">
          <h3>Dompet Blanja</h3>
          <p>Rp 126.952.419</p>
        </div>
        <div class="options__right display-im lable-toggle">
          <label class="lable-toggle__label" for="dompetBlanja">
            <input @change="handleChange" type="checkbox" id="dompetBlanja">
            <div class="slidergroove"></div>
          </label>
        </div>
      </div>
      <div class="va-options dompetBlanja">
        <input class="hdn__input" type="text" placeholder="0">
        <p class="hdn__text-info">Sisa saldo : Rp 126.952.419</p>
        <input class="hdn__input mt5 mb5" type="password" placeholder="Masukkan Password">
        <a href="#" class="reset-password">Lupa Password?</a>
      </div>
    </div>
    <div class="virtual-account__option cashback">
      <div class="va-options__head">
        <div class="options__left">
          <h3>Cashback</h3>
          <p>Rp 6.952.419</p>
        </div>
        <div class="options__right display-im lable-toggle">
          <label class="lable-toggle__label" for="cashback">
            <input @change="handleChange" type="checkbox" id="cashback">
            <div class="slidergroove"></div>
          </label>
        </div>
      </div>
      <div class="va-options cashback">
        <input class="hdn__input" type="text" placeholder="0">
        <p class="hdn__text-info">(Sisa Cahback : Rp 6.952.419)</p>
      </div>
    </div>
    <div class="virtual-account__option linkAja">
      <div class="va-options__head">
        <div class="options__left">
          <h3>LinkAja</h3>
          <p>Rp 12.952.419</p>
        </div>
        <div class="options__right display-im lable-toggle">
          <label class="lable-toggle__label" for="linkAja">
            <input @change="handleChange" type="checkbox" id="linkAja">
            <div class="slidergroove"></div>
          </label>
        </div>
      </div>
      <div class="va-options linkAja">
        <input class="hdn__input" type="text" placeholder="0">
        <p class="hdn__text-info">
          Sisa LinkAja :
          <strong style="color: #be1e1e;">Rp 12.952.419</strong>
        </p>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  name: "PaymentOptions",

  methods: {
    handleChange(e) {
      var elmt = document.getElementsByClassName(
        "va-options " + e.target.id
      )[0];
      var outerContainer = document.getElementsByClassName(
        "virtual-account__option " + e.target.id
      )[0];
      let currHeight = outerContainer.offsetHeight,
        newHeight;
      if (elmt.classList.contains("va-options--checked")) {
        outerContainer.style.height = "77px";
        elmt.classList.remove("va-options--checked");
      } else {
        elmt.classList.add("va-options--checked");
        newHeight = currHeight + elmt.offsetHeight;
        outerContainer.style.height = newHeight + "px";
      }
    }
  }
};
</script>

<style>
.chs-pymt {
  padding: 20px;
}

.payment-title {
  margin-bottom: 8px;
  color: #333;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

.payment-desc {
  color: #666;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
}

.virtual-account {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.virtual-account__option {
  display: inline-block;
  vertical-align: top;
  flex: 1 auto;
  border: 1px solid rgba(221, 221, 221, 0.5);
  border-radius: 4px;
  margin: 0 5px;
  padding: 5px;
  width: 284px;
  height: 77px;
  overflow: hidden;
  transition: height 0.5s;
}

.va-options__head {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}

.va-options {
  display: none;
  margin: 5px auto 10px auto;
}

.va-options--checked {
  display: block;
}

.hdn__input {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  height: 35px;
  padding: 7px 10px;
  font-size: 11px;
  box-sizing: border-box;
  color: #999;
}

.hdn__text-info {
  line-height: 24px;
  font-size: 10px;
  color: #999;
}

.reset-password {
  color: #e2211d;
  font-size: 13px;
  text-decoration: none;
}

.reset-password:hover {
  text-decoration: underline;
}

.options__left {
  margin: 0px 50px 0px 5px;
}

.options__left h3 {
  color: #333;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  text-align: left;
}

.options__left p {
  color: #be1e1e;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
}

.options__right {
  margin: 10px 5px 0px 50px;
  width: 28%;
}

.lable-toggle {
  position: relative;
  display: block;
  width: 45px;
  height: 25px;
}

.lable-toggle input {
  display: none;
}

.lable-toggle__label {
  cursor: pointer;
}

.slidergroove {
  width: 45px;
  height: 25px;
  position: absolute;
  background: #ccc;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.slidergroove::after {
  position: absolute;
  content: "";
  width: 21px;
  height: 21px;
  background: #fff;
  border-radius: 50%;
  margin-top: 2px;
  margin-left: 2px;
  transition: all 0.3s ease;
}

input:checked + .slidergroove {
  background: #e3211d;
}

input:checked + .slidergroove::after {
  transform: translateX(20px);
}
</style>
