<template>
  <div class="pymt-list__card">
    <div class="pymt-list__card-header" v-bind:class="imgClass"></div>
    <ul class="pymt-list__option">
      <li v-for="item in paymentOptions" v-bind:key="item.id">
        <label class="pymt-toggle" v-bind:for="item.id">
          <input name="radio" type="radio" v-bind:id="item.id">
          <p>{{item.option}}</p>
          <span class="checkmark"></span>
        </label>
        <template v-if="item.tooltip">
          <i class="tooltip fa fa-info-circle"></i>
          <span class="tooltiptext">Transfer langsung ke nomor rekening Bank Mandiri PT.Metraplasa</span>
        </template>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "PaymentCard",
  props: {
    paymentOptions: Array,
    imgClass: String
  }
};
</script>

<style>
.pymt-list__card {
  width: 200px;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  margin: 10px 14px;
  min-height: 146px;
}

.pymt-list__card-header {
  background-image: url("../assets/asset_new_payment_1.png");
  height: 48px;
  background-repeat: no-repeat;
  background-color: #f8f8f8;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid #e5e5e5;
}

.mandiri-bank {
  background-position: 63px 10px;
}

.bni-bank {
  background-position: 66px -27px;
}

.bri-bank {
  background-position: 58px -66px;
}

.btn-bank {
  background-position: 49px -108px;
}

.bca-bank {
  background-position: 65px -668px;
}

.finpay-payment {
  background-position: 60px -193px;
}

.rekber {
  background-position: 17px -283px;
}

.credit-card {
  background-position: 33px -426px;
}

.online-debit {
  background-position: 14px -475px;
}

.kredivo {
  background-position: 73px -706px;
}

.finpay-minimarket {
  background-position: 10px -503px;
  background-size: 90%;
}

.pymt-list__option {
  list-style: none;
  margin: 0;
  padding: 3px 0;
}

.pymt-list__option li {
  padding: 0 5px;
}

.pymt-toggle {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  margin: 10px 5px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 11px;
  line-height: 16px;
}

/* Hide the browser's default radio button */
.pymt-toggle input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 10px;
  width: 10px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #767676;
}

.checkmark::before {
  width: 6px;
  height: 6px;
  background: #fec70f;
  opacity: 0;
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 20%;
  left: 20%;
}

/* When the radio button is checked, add a blue background */
.pymt-toggle input:checked ~ .checkmark {
  border-color: #fec70f;
}

.pymt-toggle input:checked ~ .checkmark::before {
  opacity: 1;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.pymt-toggle input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.pymt-toggle .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.tooltip.fa.fa-info-circle {
  display: inline-block;
  vertical-align: middle;
  margin: 0px 5px;
}

.tooltip.fa.fa-info-circle:hover + .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltiptext {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 200px;
  color: white;
  background-color: #555;
  opacity: 0;
  border-radius: 6px;
  padding: 6px;
  font-size: 13px;
  transition: opacity 0.3s;
  margin-left: 10px;
}
.tooltiptext::after {
  content: "";
  position: absolute;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #555;
  margin-top: -30px;
  margin-left: -95px;
}

.pymt-list__img-header {
  width: 90px;
  height: auto;
  vertical-align: middle;
}

input:checked + p {
  font-size: 12px;
  font-weight: 900;
  color: #fec70f;
}
</style>
