<template>
  <div class="container white-box product">
    <div class="header-product">
      <img class="head-pdct__img-header display-im" src="../assets/store.png" alt>
      <span class="head-pdct__text display-im">Starphone</span>
      <span class="head-pdct__text display-im fr">No.Pemesanan : 419409049592117963</span>
    </div>
    <div class="body-product">
      <a href="#">
        <img class="body-pdct__img-body display-im" src="../assets/kamera.jpg" alt="product img">
      </a>
      <a href="https://www.google.com">
        <div class="display-im body-pdct__description">
          <p>Sony Dsc - W810 Kamera Pocket - Hitam - Dki Jakarta</p>
        </div>
      </a>
      <div class="display-im body-pdct__details"></div>
      <div class="display-im body-pdct__qty-text">Jumlah : 1</div>
    </div>
    <div class="footer-product">
      <div class="footer-product--left display-im">
        <p class="footer-product--left__text">Kode Voucher</p>
        <input class="footer-product--left__input" type="text" placeholder="Masukkan kode voucher">
        <button class="footer-product--left__button">Gunakan</button>
      </div>
      <div class="display-im footer-product--right">
        <p>Subtotal:</p>
        <h1>Rp 1.308.000</h1>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Product"
};
</script>

<style>
.product {
  padding: 10px 20px;
}

.header-product {
  padding: 9px 0;
  border-bottom: 1px solid #ddd;
}

.head-pdct__img-header {
  height: auto;
  width: 20px;
  margin-right: 20px;
}

.body-product {
  margin: 10px 20px 10px 0px;
}

.body-pdct__img-body {
  width: 60px;
  height: auto;
}

.body-pdct__description {
  margin-left: 20px;
  color: #666;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  width: 27%;
}

.body-pdct__description p:hover {
  text-decoration: underline;
}

.body-pdct__details {
  color: #333;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  width: 27%;
  margin-left: 20px;
}

.body-pdct__qty-text {
  color: #999;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: right;
  width: 27%;
  margin-left: 66px;
}

.footer-product {
  margin: -10px -20px;
  background: #fafdff;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.footer-product--left {
  padding: 20px 25px;
  display: flex;
  align-items: center;
}

.footer-product--left__text {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 22px;
  text-align: left;
  margin-right: 10px;
}

.footer-product--left__input {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 0px 10px;
  border-radius: 2px 0 0 2px;
  width: 260px;
  height: 34px;
}

.footer-product--left__button {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 0 2px 2px 0;
  width: 96px;
  height: 36px;
  font-size: 13px;
}

.footer-product--right {
  padding: 20px 25px;
  text-align: right;
  margin-right: 20px;
}
</style>
