<template>
  <div id="app">
    <Header/>
    <order-state/>
    <div class="order-content">
      <!-- Address content -->
      <div class="container white-box address">
        <img class="address__img display-im" src="./assets/pinned.png" alt="pinned">
        <div class="display-im">
          <p class="address-title">Alamat Pengiriman</p>
          <p
            class="address-desc"
          >Irawan Firmansyah | Jl. Anggrek 4 No.8, Bintaro, Pesanggrahan | Pesanggrahan | Kota Jakarta Selatan | DKI Jakarta | 12330</p>
        </div>
      </div>
      <!-- End of Address content -->

      <!-- Product content -->
      <h1 class="content-title">Produk yang Dipesan (1)</h1>
      <product/>
      <!-- End of Product content -->

      <!-- Choose Payment content -->
      <h1 class="payment-title">Pilih Metode Pembayaran</h1>
      <p
        class="payment-desc"
      >Penggunaan Dompet Blanja dan Cashback dapat digabungkan dengan metode pembayaran lainnya</p>
      <payment-options/>
      <!-- End of Choose Payment content -->

      <!-- Payment List content -->
      <payment-list/>
      <!-- End of Payment List content -->

      <!-- Footer order content -->
      <div class="container white-box footer-order">
        <div class="forder__terms-payment">
          Saya setuju dengan&nbsp;
          <a href="#">Syarat dan Ketentuan</a>&nbsp;Blanja.com
        </div>
        <div class="forder__detail-section">
          <div class="forder-detail__amount">
            <span>Total Harga</span>
            <p class="forder-amount__nominal">Rp 1.020.000</p>
          </div>
          <button class="forder-detail__btn-submit">Konfirmasi Pembayaran</button>
        </div>
      </div>
      <!-- End of Footer order content -->

      <!-- Safety Blanja content -->

      <div class="safety-blanja">
        <h3>Jaminan Belanja di Blanja</h3>
        <div class="safety-blanja__content pb20">
          <div>
            <img src="./assets/ic-pembayaranaman.png" alt="pembayaran aman">
            <p>Pembayaran Aman</p>
          </div>
          <div>
            <img src="./assets/ic-jaminanpengembalian.png" alt="jaminan pengembalian dana">
            <p>
              Jaminan
              <br>Pengembalian Dana
            </p>
          </div>
          <div>
            <img src="./assets/ic-perlindunganpembeli.png" alt="perlindungan pembeli 100%">
            <p>
              Perlindungan Pembeli
              <br>100%
            </p>
          </div>
          <div>
            <img src="./assets/ic-jaminankepuasan.png" alt="jaminan kepuasan">
            <p>Jaminan Kepuasan</p>
          </div>
        </div>
        <div class="safety-blanja__verified pt20 pb20">
          <p class="mb20">Berbelanja di Blanja Aman.</p>
          <img src="./assets/icon_security.png" alt="icon security">
        </div>
      </div>
      <!-- End of Safety Blanja Content -->

      <!-- Footer -->
    </div>
    <Footer/>
  </div>
</template>

<script>
import {
  Header,
  OrderState,
  Product,
  PaymentOptions,
  PaymentList,
  Footer
} from "./components";

export default {
  name: "app",
  components: {
    Header,
    OrderState,
    Product,
    PaymentOptions,
    PaymentList,
    Footer
  }
};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Lato|Source+Sans+Pro&display=swap");

p,
h1,
h2,
h3,
a,
span,
div,
input,
button {
  font-family: "Lato", sans-serif;
  color: #333;
  margin: 0;
}

h1 {
  font-size: 16px;
}

.test {
  width: 100%;
  height: auto;
}

html,
body {
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

.mt20 {
  margin-top: 20px;
}

.mt5 {
  margin-top: 5px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb20 {
  margin-bottom: 20px;
}

.pt20 {
  padding-top: 20px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.fr {
  float: right;
}
/* inline-middle*/
.display-im {
  display: inline-block;
  vertical-align: middle;
}

.order-container {
  margin: 10px 0 20px 0;
  padding: 10px 20px;
}

.order-content {
  width: 960px;
  margin: 0 auto;
}

.head-pdct__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.content-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

.white-box {
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
  background: #fff;
  margin: 10px 0px 20px 0px;
}

/* address style */
.address {
  padding: 20px 20px;
}

.address__img {
  width: 25px;
  height: auto;
  margin-right: 20px;
}

.address-title {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.address-desc {
  color: #666;
  font-size: 13px;
  font-weight: 400;
  display: inline-block;
  margin-top: 10px;
  letter-spacing: 0.2px;
}

.footer-order {
  padding: 20px;
}

.forder__terms-payment {
  display: flex;
  justify-content: flex-end;
  margin: 0px 0px 10px 0px;
  font-size: 13px;
  font-weight: 400;
}

.forder__terms-payment a {
  color: #ea5a25;
  text-decoration: none;
}

.forder__terms-payment a:hover {
  text-decoration: underline;
}

.forder__detail-section {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #e5e5e5;
  align-items: center;
  padding: 20px 0px 0px 0px;
}

.forder-detail__amount {
  border-left: 1px solid gray;
  padding-left: 10px;
  margin-right: 10px;
  color: #666;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  display: flex;
  align-items: center;
}

.forder-amount__nominal {
  color: #e3211d;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  margin-left: 8px;
}

.forder-detail__btn-submit {
  background-color: #e3211d;
  border-radius: 4px;
  border: 0;
  width: 245px !important;
  height: 40px !important;
  cursor: pointer;
  color: #fff;
}

.forder-detail__btn-submit:hover {
  background-color: #cc1d1a;
}

.safety-blanja {
  text-align: center;
}

.safety-blanja h3 {
  font-size: 16px;
  margin-bottom: 30px;
}

.safety-blanja__content {
  display: flex;
  justify-content: center;
}

.safety-blanja__content > div {
  margin: 0px 15px;
}

.safety-blanja__content p {
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
}

.safety-blanja__content img {
  width: 46px;
}

.safety-blanja__verified {
  border-top: 1px solid #e5e5e5;
  width: 580px;
  margin: 20px auto;
}

.safety-blanja__verified p {
  font-size: 12px;
}
</style>
